@keyframes floater {
  0%{transform: translateY(-3%);transition: ease 5s;}
  50%{transform: translateY(3%);transition: ease 5s;}
}

.float-area{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.floating-img{
  transform: translateY(-3%);
  animation: floater 5s infinite;
  transition: ease 5s;
  max-width: 40vw;
}